{
    "extends": ["esnext", "esnext/style-guide", "node", "node/style-guide"],
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "settings": {
        "import/core-modules": [ "node_helper" ]
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "import/no-commonjs": 0,
        "import/no-nodejs-modules": 0,
        "semi": 0,
        "comma-dangle": 0,
        "indent": ["error", 4],
        "template-curly-spacing": 0,
        "no-console": 0,
        "curly": ["error", "all"],
        "array-bracket-spacing": 0,
        "space-before-function-paren": 0
    }
}
