@-webkit-keyframes colorPulse {
    0% {color: #999999;}
    50% {color: #000000;}
    100% {color: #999999;}
}

.pulse {
    -webkit-animation: colorPulse 1s infinite;
}

#microphone {
    margin-right: 5px;
}