<div class="small align-left">
    <i class="fa {{icon}} icon {{"pulse" if pulsing}}"></i>
    <span>{{mode}}</span>
    {% if config.debug %}
        <div>{{debugInformation}}</div>
    {% endif %}
</div>
